<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="site-footer" th:fragment="footerFragment">
    <div class="footer-container">
        <div class="footer-section">
            <h4>MyTravel</h4>
            <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">채용</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>파트너</h4>
            <ul>
                <li><a href="#">호텔 제휴</a></li>
                <li><a href="#">마케팅 제휴</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>정책</h4>
            <ul>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">이용약관</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 MyTravel Inc. All Rights Reserved. 이 사이트는 포트폴리오용으로 제작되었습니다.</p>
    </div>
</footer>
</html>