<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="site-header" th:fragment="headerFragment">
    <div class="header-container">
        <a th:href="@{/}" class="logo">MY TRAVEL</a>
        <nav class="main-nav">
            <ul>
                <li><a href="#">호텔</a></li>
                <li><a href="#">항공</a></li>
                <li><a href="#">투어</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/users/login}">로그인</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/users/signup}">회원가입</a></li>
                <li sec:authorize="isAuthenticated()"><a href="#">마이페이지</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/users/logout}">로그아웃</a></li>
            </ul>
        </nav>
    </div>
</header>
</html>